{:paths          ["."]
 :deps           {}
 :min-bb-version "0.4.0"
 :tasks          {test
                  {:requires ()
                   :doc      "Run tests"
                   :task     (clojure "-M:test")}
                  lint
                  {:doc  "Either clj-kondo CLI or the JVM version"
                   :task (try
                           (shell "clj-kondo" "--lint" "src" "test")
                           (catch Exception _
                             (clojure "-M:clj-kondo")))}
                  release
                  {:requires ([clojure.string :as str])
                   :doc      "Makes a git tag and pushes it to the Github to trigger release with GH action."
                   :task     (let [command (str/join " " (concat ["-T:build trigger-release"] (or *command-line-args* [:snapshot false])))]
                               (clojure command))}
                  outdated
                  {:doc  "Checks for outdated dependencies."
                   :task (clojure "-Sdeps '{:deps {org.slf4j/slf4j-nop {:mvn/version \"2.0.7\"} com.github.liquidz/antq {:mvn/version \"RELEASE\"}}}' -M -m antq.core")}}}
